<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE9">
    <meta charset="utf-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome5.8.2.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>web programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/knu.png">

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

</head>

<body style="background:#fff;">
    <%- include('layouts/nav'); -%>

    <div class="jumbotron jumbotron-fluid"
        style=" margin-bottom: 0; color: white; background-image: linear-gradient(rgba(52, 58, 64, 0.8), rgba(52, 58, 64, 0.9)), url('/img/film.jpg'); background-size:cover;">
        <div class="container">
            <h1 class="display-4">THE MOVIE</h1>
        </div>
    </div>
    <div class="container" style="background-color:#fff; padding:2em; margin-top:0; min-height:100vh;">
        <h5>영화 목록</h5>
        <hr>
        <div class="row">
            <% for (var i = 0; i < movies.length; i++) {%>
    <!-- MOVIE FOR 문 -->
    <div class="col-md-3 col-sm-6 col-12">
        <!-- View Page LINK -->
        <div class="poster_container" onclick="location.href='/view/<%= movies[i].code %>'">
            <img src="/img/<%= movies[i].img %>" class="poster_image">
            <div class="poster_glass">
                <div class="poster_ttext"><%= movies[i].title %></div>
                <div class="poster_btext"><%= movies[i].openDt.toDateString() %><br><%= movies[i].genre %></div>
            </div>
        </div>
    </div>
    <% } %>
    </div>

    </div>
    <!-- FOOTER -->
    <%- include('layouts/footer'); -%>
    <!-- FOOTER -->
</body>


</html>